
<br><br>
<!-- <TODO->Fix this</TODO-> -->
<table style="width:90%"  align="center"> 
    <div class="mat-app-background basic-container my-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Recent Communications
        </mat-panel-title>
        <mat-panel-description class="mat-panel-description-position"  fxLayout="row" fxLayoutAlign="space-between stretch">
          <span class="fill-remaining-space"></span>
          <u>Close</u>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table style="width:100%">
          <tbody>
              <tr class="parameterListItem">                  
                <!-- <td class="unit1"><app-ppsn></app-ppsn></td>
                  <td class="unit2"><app-user-contact></app-user-contact></td>   -->
              </tr>                        
          </tbody>
      </table>
    </mat-expansion-panel>
    </mat-accordion>
</div>
</table> 
