
<br><br>

<!-- <TODO->Fix this</TODO-> -->
<table style="width:90%"  align="center" > 
<div class="mat-app-background basic-container my-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Employer Services
        </mat-panel-title>
        <mat-panel-description class="mat-panel-description-position"  fxLayout="row" fxLayoutAlign="space-between stretch">
          <span class="fill-remaining-space"></span>
          <u>Close</u>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table style="width:90%" cellspacing="10" align="center">
          <tbody>
              <tr class="parameterListItem">
             
                <div class = "top" align="center" >                  
                
                <td ><app-payroll-submissions></app-payroll-submissions></td>
                <td ><app-rpn-data></app-rpn-data></td>
                <td ><app-pending-return></app-pending-return></td>
                <td ><app-statement-of-account></app-statement-of-account></td>
 
              </div>
              
              </tr>                       
          </tbody>
      </table>
    </mat-expansion-panel>
    </mat-accordion>
</div>
</table> 
